portfolio {
    height: 100vh;
    padding-top: 4rem;
    overflow: hidden;
}

.chartBox {
    width: 700px;
    height: 400px;
    padding: 0 1em;
    max-width: 60rem;
    margin: 0 auto;
    border: 2px;
}

.div__style {
    width: 700px;
    height: 400px;
    padding: 0 1em;
    max-width: 60rem;
    margin: 0 auto;
    border: 2px;
}


/*=========================(MEDIA QUERIES (MEDIUM DEVICES)=========================*/

@media screen and (max-width: 1024px) {
    .chartBox {
        width: 90%;
        height: 45%;
        padding: 0 1em;
    }
}


/*=========================(MEDIA QUERIES (SMALL DEVICES)=========================*/

@media screen and (max-width: 600px) {
    .chartBox {
        width: 30%;
        height: 30%;
        padding: 0 1em;
    }
}


/*=========================(MEDIA QUERIES (SMALL DEVICES)=========================*/

@media screen and (max-width: 375px) {
    .chartBox {
        width: 20%;
        height: 20%;
        padding: 0 1em;
    }
}


/* ===================== MEDIA QUERIES (MEDIUM DEVICES ================*/

@media screen and (min-width: 375px) {
    .chartBox {
        background: linear-gradient(var(--color-primary), transparent);
        width: 90%;
    }
}